static.tar.gz
server.tar.gz
static/chall-docker/ubercaged/chromium-browser-unstable_120.0.6099.228-1_amd64.deb
static/x64.release/chromium-browser-unstable_120.0.6099.228-1_amd64.deb
static/x64.debug/chromium-browser-unstable_120.0.6099.228-1_amd64.deb
server/ubercaged/chromium-browser-unstable_120.0.6099.228-1_amd64.deb
